<div class="main">
    <script type="text/ng-template" id="myModalMessageList.html">
        <div class="modal-header relative">
            <p>{{item.title}}</p>
            <span class="icon-icon_close_circle_o modal-pop-close" ng-click="cancel()"></span>
        </div>

        <div ng-show="item.method == 'delete'">
            <form class="modal-body" id="message-delete-form" name="message-delete-form">
                <div class="warn_delete">
                    <span class="icon-icon_warn"></span>

                    <div class='delete_desc'>
                        <p>确定要删除这个站内信吗</p>

                        <p>注意：删除以后不可恢复！</p>
                    </div>
                </div>
                <input type="text" id="messageId" name="messageId"/>
            </form>
            <div class="modal-footer modal-footer-project">
                <div>
                    <button type="button" class="btn btn_delete" ng-click="ok()">删除</button>
                    <button type="button" class="btn btn_cancel " ng-click="cancel()">取消</button>
                </div>
            </div>
        </div>

    </script>
    <div class="main-content">
        <div class="title-area">
            <a class="font-blue" style="margin-right:10px;" ng-click="back()" ng-show="step!=0"><<返回</a>{{title}}
        </div>
        <div class="search-bar" ng-show="step==0">
            <div class="search-item">
                <div><label>编号</label></div>
                <div><input type="text" ng-model="params.pk"/></div>
            </div>
            <div class="search-item" style="flex-grow: 0;">
                <div><label>状态</label></div>
                <ui-select ng-model="paramsStatus" theme="bootstrap" on-select="params.status = $select.selected.value;"
                           style="flex-grow: 0;">
                    <ui-select-match placeholder="请选择">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item in selections.status">
                        <div>{{item.name}}</div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="search-item">
                <div><label>时间</label></div>
                <div><input type="text" class="normal date-picker" data-date-format="yyyy-mm-dd" placeholder="请选择"
                            onchange="angular.element(this).scope().params.date_start=this.value;"/></div>
                <div style="flex-grow: 0;"><label>至</label></div>
                <div>
                    <input type="text" class="normal date-picker" data-date-format="yyyy-mm-dd" placeholder="请选择"
                           onchange="angular.element(this).scope().params.date_end=this.value;"/>
                </div>
            </div>

            <div class="btn-area" style="margin-right:20px;">
                <a href="javascript:void(0)" class="btn-blue-bg btn-normal" ng-click="refresh()">搜索</a>
            </div>
            <div class="btn-area">
                <a href="javascript:void(0)" class="btn-green-bg btn-normal icon-icon_plus btn-add" ng-click="editData()">新建站内信</a>
            </div>
        </div>
        <div class="table-area" ng-show="step==0&&dataList&&dataList.length>0">
            <table>
                <thead>
                <tr>
                    <th>站内信编号</th>
                    <th>内容</th>
                    <th>状态</th>
                    <th>发布时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in dataList">
                    <td>{{data.id}}</td>
                    <td>{{data.content}}</td>
                    <td>{{data.status_display}}</td>
                    <td>{{data.updated_at}}</td>
                    <td>
                        <a class="icon-icon_eye watch-icon btn-operation" href="javascript:void(0)"
                           ng-click="showData(data)"></a>
                        <a class="icon-icon_delete watch-icon btn-operation font-red" href="javascript:void(0)"
                           ng-click="remove('md-add','delete',data)"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-pagination" ng-show="totalPage>1">
                <thead>
                <tr>
                    <th>
                        <uib-pagination items-per-page="tableParams.number" total-items="total" ng-change="refresh()"
                                        ng-model="tableParams.index" max-size="5"
                                        class="pagination-sm" boundary-links="true" force-ellipses="true"
                                        first-text="首页"
                                        last-text="末页" next-text="下一页" previous-text="上一页"></uib-pagination>
                        <div class="pagination-detail">
                            <span>共{{totalPage}}页</span>
                            <span>跳至<input type="text" ng-model="jumpToPage"/>页</span>
                            <span><button ng-click="refresh(jumpToPage);jumpToPage='';">确定</button></span>
                        </div>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="form-area" ng-show="step==1">
            <div class="form-field-set">
                <div class="form-row">
                    <label><span class="font-red">*</span>标题</label>
                    <input ng-model="fieldSet.title" placeholder="标题">
                    </input>
                </div>
                <div class="form-row" style="height:220px;">
                    <label><span class="font-red">*</span>内容描述</label>
                        <textarea ng-model="fieldSet.content" placeholder="内容描述">
                        </textarea>
                </div>
                <div class="btn-area">
                    <a class="btn-normal btn-blue-bg" ng-click="submit(0)">保存</a>
                    <a class="btn-normal btn-blue-border" ng-click="submit(1)">保存并发布</a>
                </div>
            </div>
        </div>
        <div class="detail-area" ng-show="step==2">
            <div class="detail-top-area flex-area">
                <span style="text-align: left;">站内信编号：{{detail.id}}</span>
                <span style="text-align: center;">状态：{{detail.status_display}}</span>
                <span style="text-align: right;">提交时间：{{detail.updated_at}}</span>
            </div>
            <div class="detail-center-area">
                <span class="message-detail-title">{{detail.title}}</span>
                <p>{{detail.content}}</p>
            </div>
            <div class="detail-bottom-area" style="text-align: center;">
                <a class="btn-normal btn-blue-bg" ng-click="editData(detail)">编辑</a>
                <a class="btn-normal btn-green-bg" ng-show="detail.status==0">发布</a>
            </div>
        </div>
    </div>
    <optip ng-class="optip"></optip>
</div>
