<div class="headerManage" ng-controller="headerManageCtrl">
    <span style="margin-left:30px;font-size:30px;line-height: 80px;">有色物联网云管理后台</span>
    <div class="head_content" style="float:right;">
        <div class="conten_right">
            <div class="user dropdown-toggle" dropdown-toggle data-toggle="dropdown">
                <span ng-cloak class="ng-cloak">{{userName}}</span>
            </div>
            <ul class="dropdown-menu dropdown-user" role="menu">
                <li><a ng-click="loginOut()">退出</a></li>
            </ul>
            <div class="work"></div>
        </div>
    </div>
</div>